<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Script">
            <remove name="WebDAV" />
            <remove name="ISAPI-dll" />
			<add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
            <add name="javascript-405" path="*.json" verb="POST" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Read" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
            <add name="ISAPI-dll" path="*.js" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="C:\Windows\System32\inetsrv\asp.dll" resourceType="File" requireAccess="Read" allowPathInfo="true" preCondition="bitness64" />
            <add name="WebDAV" path="*" verb="PROPFIND,PROPPATCH,MKCOL,PUT,COPY,DELETE,MOVE,LOCK,UNLOCK" modules="WebDAVModule" resourceType="Unspecified" requireAccess="None" />

        </handlers>
        <security>
            <requestFiltering allowDoubleEscaping="true">
                <verbs>
                    <add verb="/datagrid/datagrid-demo-json.json" allowed="true" />
                </verbs>
                <fileExtensions>
                    <add fileExtension=".js" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="text/json" />
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
        <httpProtocol>  
  <customHeaders>  
    <add name="Access-Control-Allow-Origin" value="*" />  
	 <add name="Allow" value=" POST" />  
    <add name="Access-Control-Allow-Headers" value="Content-Type, sessionId" />  
    <add name="Access-Control-Allow-Methods" value="POST,GET,PUT,DELETE,OPTIONS" />          
  </customHeaders>  
</httpProtocol> 
		 
    </system.webServer>
</configuration>
